<h3>SHOW PAGE</h3>

<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <img ng-class="image" ng-src="{{pirates.image}}">
            </div>
            <div class="media-body">
                  <h2>{{pirates.name}}</h2>
                <br>
                <p><strong>Poison:</strong> {{pirates.poison}}</p>
                <br>
                <p><strong>Notable Accessory:</strong> {{pirates.accessory}}</p>
            </div>
        </div>
    </div>
</div>
